body{
    background: black;
}

.card-columns{
    margin: 10px;
    overflow-x: scroll;
}

.card-text{
    color: black;
}

.card{
    margin: 5px;
}

h2, h3, h6, p{
    color: white;
    text-align: left;
}

.descriptionColumns{
 border-right: 1px solid white;   
 height: 300px;
}